body, html{
	height: 100%;
	color: #888888;
	font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
	color:#888888;
}

.navbar-custom{
	color:#FFFFFF;
	padding-top: 2vh;
	position: absolute;
}

.navbar-custom .nav li a{ /*All of the <a> tags in the navbar except the event button*/
	text-decoration: none;
	font-size: 1.3em;
	color: #FFFF00;
	margin-left: 1em;
	border: 1px solid transparent;
	 -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
}

.navbar-custom .nav .highlight{ /*Only the Events button*/
	border: 1px solid #FFFF00;
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
}

.navbar-custom .nav li a:hover{ /*on-hover for all of the <a> tags in the navbar*/
    outline: 0;
    background: #FFFF00;
    color: #00008b;
    border: 1px solid #FFFF00;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
    transition: all 200ms ease-in-out 0s;
}

.navbar-header p{ /*The large "GTAHackathons" thing at the top left*/
	text-decoration: none;
	font-size: 2.2em;
	color: #FFFFFF;
}

.intro { /*The backsplash intro*/
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: rgba(255,255,255,0.95);
    background: url(../img/toronto2.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}


.intro-body{/*controls the divs for the intro*/
	display: table-cell;
	vertical-align: middle;
}

.intro-text{
	font-size: 4em;
	font-weight: 100;
}

.events{/*All of the stuff in the events section.*/
	margin-top:2em;
}

.event-body{
	text-align: center;
}

.event-heading{
	font-weight: 500;
	font-size: 3em;
	color: #666665;
}

footer div p{
	padding-top: 1em;
	height:3em;
}

