body, html{
	height: 100%;
	color: #888888;
	font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
	color:#888888;
}



.navbar-custom{
	color:#FFFFFF;
	padding-top: 2vh;
	position: absolute;
}

.navbar-custom .nav a{
	text-decoration: none;
	font-size: 1.3em;
	color: #FFFF00;
	border: 2px solid #FFFF00;
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
}

.navbar-custom li a:hover{
	outline: 0;
	background: 
}

.navbar-custom .nav li a:hover{
    outline: 0;
    background: #FFFF00;
    color: #00008b;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
    transition: all 200ms ease-in-out 0s;
}

.navbar-header p{
	text-decoration: none;
	font-size: 2.2em;
	color: #FFFFFF;
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: rgba(255,255,255,0.9);
    background: url(../img/toronto2.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}


.intro-body{
	display: table-cell;
	vertical-align: middle;
}

.intro-text{
	font-size: 4em;
	font-weight: 100;
}

footer div p{
	padding-top: 1em;
	height:3em;
}

