
body, html{
	height: 100%;
	color: #888888;
	font-family: 'Raleway', sans-serif;
}

a{
	text-decoration: none;
	color:#888888;
}

h2{
	color: #666665;
	font-size: 3.5em;
}

h3{
	font-size:2.2em;
}

h4{
	font-size: 1.4em;
}

h5{
	font-size: 1.2em;
}

.navbar-custom{
	color:#FFFFFF;
	padding-top: 4vh;
	position: absolute;
}

.navbar-custom .nav li a{ /*All of the <a> tags in the navbar except the event button*/
	text-decoration: none;
	font-size: 1.4em;
	color: #FFFF00;
	margin-left: 1em;
	border: 1px solid transparent;
	 -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
    transition: all 200ms ease-in-out 0s;
}

.navbar-custom .nav .highlight{ /*Only the Events button*/
	border: 1px solid #FFFF00;
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
    transition: all 200ms ease-in-out 0s;
}

.navbar-custom .nav li a:hover{ /*on-hover for all of the <a> tags in the navbar*/
    outline: 0;
    background: #FFFF00;
    color: #00008b;
    border: 1px solid #FFFF00;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px;
    transition: all 200ms ease-in-out 0s;
}

.navbar-header p{ /*The large "GTAHackathons" thing at the top left*/
	text-decoration: none;
	font-size: 3em;
	color: #FFFFFF;
}

/*Side circle nav bar*/
.dotstyle ul {
	position: fixed;
	top:300px;
	right: 30px;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	float: top;
	margin: 20px 0;
	width: 8px;
	height: 8px;
	cursor: pointer;
	box-sizing: border-box;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}

.dotstyle-tooltip li {
	border: 1px solid #FFFF83;
	background-color: #FFFF83;
	border-radius: 50%;
	z-index: 1;
	-webkit-transition: border-color 0.3s ease;
	transition: border-color 0.3s ease;
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-tooltip li a {
	top:auto;
	bottom: -175%;
	left: -700%;
	visibility: hidden;
	text-decoration: none;
	padding: 0 10px;
	width: auto;
	height: auto;
	border-radius: 0;
	background-color: transparent;
	text-align: right;
	color: #FFFF83;
	text-indent: 0;
	line-height: 2;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%) ;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-tooltip li a::after { /* http: //cssarrowplease.com/ */
	position: absolute;
	left: 100%;
	top: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 1px;
	border-color: transparent;
	border-top-color: none;
	content: '';
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.no-touch .dotstyle-tooltip li:hover a,
.dotstyle-tooltip li.current a {
	z-index: 100;
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(0%);
	transform: translateX(-50%) translateY(0%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.dotstyle-tooltip li.current {
	border-color: #A9F4B2;
	background-color: transparent;
	transform:scale(1.5);
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-tooltip li:hover {
	z-index: 100;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.no-touch .dotstyle-tooltip ul:hover li.current a {
	opacity: 0.2;
}

.dotstyle-tooltip ul li.current:hover a {
	opacity: 1;
}

/*End of Side Navbar*/

.intro { /*The backsplash intro*/
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: rgba(255,255,255,0.95);
    background: url(../img/toronto3.jpg) no-repeat center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}


.intro-body{/*controls the divs for the intro*/
	display: table-cell;
	vertical-align: middle;
}

.intro-text > h1{
	font-size: 4em;
	font-weight: 100;
}

.intro-text > p{
	font-size: 1.4em;
}

.about{ /*About section stuff*/
	width:100%;
	height: auto;
	color: #FFFFFF;
	padding: 2.5em 0;
	background: url(../img/hackathonsColorBlurBlack.jpg) no-repeat center scroll;
	background-color: #000;
	-webkit-background-size: cover;
	-mox-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
}

.about-body{
	text-align: left;
}

.about-heading{
	color: #FFFFFF;
}

.about-paragraph{
	font-size: 1.35em;
}

.events{/*All of the stuff in the events section.*/
	font-size: 1.35em;
}

.event-body{
	text-align: left;
	color: #333332;
}

.event-heading{
	text-align: center;
	padding:0.5em 0;
	font-weight: 500;
	font-size: 3.5em;
	color: #666665;
}

.event-tabs > li > a{ /*the text inside the tabs. Not the content.*/
	border-bottom: 1px solid #ddd;
	background-color: none;
	transition: all 200ms ease-in-out 0s;
	font-size: 1.5em;
	color: #333332;
	padding-right: 1em;
	padding-left: 1em;
}

.event-tabs > li > a:hover{ /*Transitions!*/
	border:1px solid #ddd;
	background-color: #ddd;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 4px 4px 0 0;
	transition: all 200ms ease-in-out 0s;
}

.event-tabs > li.active > a{
	transition: all 200ms ease-in-out 0s;
}

.event-tab-content{ /*actual contents of the tabs, and not the tabs themselves*/
	padding: 0.8em 0;
}

.event-tab-content a{
	text-decoration: none;
	color: #000;
}

.event-tab-content a:hover{
	color: #0000A0;
}

.event-image{ /*The div that contains the image inside the content of a tab*/
	text-align: center;
}

.event-image > span{ /*helper workaround there to vertically center image*/
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.event-image > img{ /*Stupid vertical alignment...*/
	vertical-align: middle;
}

.featurette-divider{
	margin:1.5em 0;
}

footer div p{
	padding-top: 1em;
	height:3em;
}

